.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 20px;
  align-items: start;
  background: transparent;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itemWrapper {
  width: 100%;
  display: flex;
  transition: transform 200ms ease;
  
}


.freeItemsBlock {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.itemWrapper {
  transition: transform 0.2s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
