@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    flex: 1;
    background-color: #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftImage {
    width: 410px;
    height: auto;
}

.right {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 65px 75px;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textContainer {
    margin-bottom: 30px;
}

h2 {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 15px;
}

.description {
    font-weight: 500;
    font-size: 12px;
    color: black;
}

.formContainer {
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input {
    width: 100%;
    height: 50px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
}

.actionGroup {
    width: 100%;
    margin-top: 20px;
}

.resetButton {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.resetButton:hover {
    background-color: darkgrey;
}

.backText {
    font-size: 12px;
    color: black;
    text-align: right;
    display: block;
    width: 100%;
}

.backLink {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.backLink i {
    margin-right: 5px;
}
