.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background: white;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  height: 50px;
  width: 260px;
  border-radius: 15px;
  padding: 8px;
  border: 1px solid black;
  font-size: 12px;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel {
  color: red;
  cursor: pointer;
}

.add {
  height: 50px;
  width: 125px;
  border-radius: 15px;
  background: #d3d3d3;
  font-weight: bold;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
}
